body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../img/home.jpg);
    background-position: center no-repeat;
    background-size: cover;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: #000000;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.5s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 280px;
}

.box input[type="submit"] {
    border: 0;
    background: #000000;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #A52A2A;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.5s;
    cursor: pointer;
}

.box input[type="button"]:hover {
    background: #0033cc;
}

.box h1 {
    color: grey;
}

.box h2 {
    color: white;
}

.btn a {
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
}

.logout {
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    background: #0033cc;
}